/* ==========================================================================
Section Styles
========================================================================== */

//Sections
.section {
    &.section-light-grey {
        background-color: $dark-acetrace;
    }
    &.section-feature-grey {
        background-color: $dark-lighter;
    }
    &.section3 {
        background-color: $dark-lighter3;
    }
    &.section-secondary {
        background-color: $secondary;
    }
    &.section-half {
        height: 75vh !important;
    }
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.title-wrapper-wider {
    max-width: 600px;
}

//Divider
.divider {
    height: 3px;
    border-radius: 50px;
    background: $secondary;
    width: 60px;
    &.is-centered {
        margin: 0 auto;
    }
}

//Wrapper
.content-wrapper {
    padding: 60px 0;
}


//Pulled image
img.pushed-image {
    margin-top: -5vh;
}

//Icon box
.media.icon-box {
    border-top: none !important;
    .media-content .content p {
        span {
            display: block;
        }
        .icon-box-title {
            color: $blue-grey;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .icon-box-text {
            color: $title-grey;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

.section {
    a {
        color: #77adff;

    }

    a:hover {
        color: #eee;
        transition: 0.3s linear;
    }

    li.subtitle:not(:last-child) {
        margin-bottom: 5px;
    }

    .title-color2 {
        color: #ffcb5a;
    }

    .subtitle.bigger {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #android-image { display: none; }
  .section.less-paddings {
    padding: 1rem 1.5rem;
   }
}


@media screen and (min-width: 401px) and (max-width: 1024px) {
  #android-image { display: block; }
}

.menu-with-button {
    padding-inline-start: 0;

    li.subtitle:not(:last-child) {
        margin-bottom: 5px;
    }
    li.with-button {
        line-height: 38px;
        .button {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
