<script>
  function insertUserId() {
    const value = document.getElementById('message').value;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const userId = urlParams.get('userId');
    if (userId) {
      document.getElementById('message').value = value + '\nuserId: ' + userId;
    }
    return false;
  }
</script>

<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Drop us a line or two </h2>
      <h3 class="subtitle is-5 is-muted">We'd love to hear from you</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form action="https://formspree.io/f/mwkyrwwd" method="post">
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" name="name" placeholder="Enter your name" required>
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" name="email" placeholder="Enter your email address">
              </div>
              <div class="column is-12">
                <textarea id="message" class="textarea" rows="3" name="message" placeholder="Write something..." required></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear" onclick="insertUserId()">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <h3 class="subtitle">Join our <a href="/community">community</a>, to share ideas and give more feedback</h3>
        </div>
      </div>
    </div>
  </div>
</section>
