{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $subText    := index $hero "subtext" }}
{{- $image      := index $hero "image" }}

<style>
  .video-container {
    position: relative;
    top: -60px;
    width: 100%; /* Container takes full width of its parent */
    /* You can set a max-width if needed */
  }

  .responsive-video {
    width: 100%;
    height: auto; /* Height will adjust automatically */
    border-radius: 30px; /* Rounded corners */
    overflow: hidden; /* Ensures the rounded corners are applied */
  }
  .overlay-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px; /* Adjust size as needed */
    text-align: center;
    z-index: 10;
  }

  /* Optional: To improve the visibility of text on the video */
  .overlay-text {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px;
    border-radius: 20px;
  }

  .cta-button {
    position: absolute;
    bottom: 10%;
    left: 80%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
</style>

<div class="video-container">
  <div class="overlay-text">
    <div class="container">
      <h1 class="title is-12">Transform your golf videos with Ace Trace shot tracer</h1>
      <h2 class="subtitle is-12 muted">Experience the best in golf shot tracing technology, designed for professional golf video creators.</h2>
    </div>
  </div>
  <video muted autoplay loop defaultMuted playsinline oncontextmenu="return false;" preload="auto"
         poster="/images/hero/preview.jpg" class="responsive-video">
    <source src="/images/hero/preview.mp4" type="video/mp4">
  </video>
  <a class="button cta cta-button rounded primary-btn raised" href="{{ $buttonLink }}">
    {{ $buttonText }}
  </a>
</div>
<div>
  <div class="container">
    <h2 class="subtitle is-spaced is-12">
      Make professional video content with the ease of a mobile app
    </h2>
    <div class="columns is-vcentered">
      <div id="trace-counter"></div>
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column is-5">
        <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
          {{ $buttonText }}
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .main-description {
    line-height: 28px;
  }
</style>