<section class="section section-feature-grey is-medium" style='padding: 1rem 1.5rem;'>
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img class="" src="{{ printf "/images/android.png" | relURL }}">
        </div>
      </div>
    </div>

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">Want Ace Trace on Android?</h2>
      <h3 class="subtitle is-5 is-muted">We've already started working on the Android app!</h2>
    </div>
  </div>

  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h3 class="subtitle is-12" style='padding: 1rem 1.5rem;'>Subscribe to the news and stay tuned</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form id="sib-form" method="POST" action="https://4e32be32.sibforms.com/serve/MUIEAG1RqvCYGRYRrMHZpj0b4NnQqtqDd5dCjg0NCD9E2xxbTqktMGQQgM23vruzDdMyfAaezV04MtvbV6giSEVVn-QzcKnYmK4Wnji_hjJUt-avtlzwcldNJQEo7102E0Lu_DPgsMJhIKf9A2Tzrm0isSjxGimIxb2AW-7UETkz188tgeVvTxy_37Q5xeB0nSSr-urxK-R5i-s7">
             <div class="columns is-multiline">
              <div class="column is-12">
                <input class="input is-medium" type="text" name="EMAIL" placeholder="Enter your email" required>
              </div>              
                <input type="hidden" class="input_replaced" value="1" id="OPT_IN" name="OPT_IN" />
                <input type="hidden" name="email_address_check" value="" class="input--hidden">
                <input type="hidden" name="locale" value="en">
                <input type="hidden" name="html_type" value="simple">
              <div class="form-footer has-text-centered mt-12">
                <button class="button cta is-large rounded primary-btn raised is-clear">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

